# Dependencies
node_modules/
*/node_modules/

# Production build
dist/
*/dist/

# SQLite Database & WAL
*.sqlite
*.sqlite-wal
*.sqlite-shm
*.db

# Environment variables
.env
.env.local

# Logs
*.log
npm-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
